*{
    font-family: 'Montserrat', sans-serif;
}

.date-picker-range{
    border-radius: 20px;
    width: 140px;
    display: inline-block;
}

#category-name{
    font-size: 17px;
    text-align: center;
    color: #524f4e;
}

#do{
    display: block;
    text-align: center;
}
button.category{
    width: 170px;
    height: 170px;
    border-radius:100%;
    margin: 20px 0 0 30px;
    transition: .3s;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    /*background-color:rgba(255, 255, 255, 0.1);*/
}


button.category:hover{
      background: #2EE59D;
      box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
      color: white;
      transform: translateY(-7px);
}

button.category.rofl{
    width: 250px;
    height: 250px;
    transition: .8s;
}

button.category.rofl:hover{
      background: url("https://www.meme-arsenal.com/memes/fa3ce36d25b92531bb38c39306c7c6d3.jpg") center center;
}


.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}


/*div.container.text-center{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/



div.card {
    width: 18rem;
    margin: 15px 0 0 0;
    display: inline-block;
}

aside{
    margin-top: 15px;
    width: 260px;
    padding: 15px 20px;
    background-color: #fafafa;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*#aside-trans {*/
/*    padding: 15px 20px;*/
/*    background-color: #fafafa;*/
/*    left: 100%;*/
/*    float: right;*/
/*}*/

.hidden {
    display: none;
}

.add-transaction-form{
    display: inline-block;
}

.form-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
    width: 1030px;
    justify-content: space-between;
}

.for-items{
    display: inline-block;
}







