button.category{
    width: 130px;
    height: 130px;
    border-radius:100%;
    margin: 20px 0 0 30px;
}

div.container.text-center{
    display: flex;
    justify-content: space-between;
}



div.card {
    width: 18rem;
    margin: 15px 20px 0 0;
}

#aside-trans {
    padding: 15px 20px;
    background-color: #fafafa;
    left: 100%;
    float: right;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


