
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  height: 100vh;
  /*overflow: hidden;*/

}


*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}


.containe{
    padding: 10px;
    background-color: #f6f7ff;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.right_container{
    width: 79%;
    background-color: #ffffff;
    padding: 40px 25px 10px 40px;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    height: 100%;
}

/* Left aside */

.aside{
    display: flex;
    width: 21%;
    flex-direction: column;
    background-color: #f6f7ff;
    text-align: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.aside_logo{
    width: 60px;
    height: 60px;
    align-self: self-start;
}

.aside_header_title{
    margin-left: 15px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.aside_header{
    margin-top: 40px;
    font-family: Raleway;
    font-size: 30px;

}

.aside_nav{
    margin-top: 60px;
}

.aside_ul{
    list-style: none;
    padding: 0;
}

.aside_li{
    margin-top: 18px;
    display: flex;
}

.aside_text{
    margin-left: 10px;
}

.aside_logo{
    display: flex;
    align-items: center;
}

.aside_header{
    margin-left: 15px;
}

.auth_text{
    font-family: Raleway;
    font-size: 20px;
}
.auth_text a{
    text-decoration: none;
}


/* Left aside */


.header{
    display: flex;
    justify-content: space-between;
}

.header_title{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 600;
    color: #000000 ;
}

.right_container_header{
    display: flex;
    justify-content: space-between;
}


.header_search input{
    background-color: #f5f9ff;
    border: none;
    width: 88%;

}

.header_search{
    background-color: #f5f9ff;
    border-radius: 25px;
    padding: 6px 13px   ;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    /*width: 440px;*/
}


.header_search_icon{
    width: 21px;
    height: 21px;
}


.right_container_left{
    width: 70%;
}

.right_container_right{
    padding: 14px;
    background-color: #f6f7ff;
    width:29%;
    border-radius: 25px;
    height: 100%;
}

/* Right top corner */

.right_container_right_top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.bell{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #e6eaf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_name{
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.account_avatar{
    width: 70px;
    height: 50px;
}

.account{
    display: flex;
    align-items: center;
}
/* Right top corner */

/* Text above card */

.footer_title{
    margin-top: 65px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

/* Text above card */

/* Card design*/

.footer_card{
    margin-top: 25px;
    /*background-color: rgb(6,41,198);*/
    background: url('../../../images/card.webp');
    color: #ffffff;
    padding: 17px;
    border-radius: 25px;
    width: 98%;
    height:  30%;
    font-family: Raleway;
    color: #ffffff;
}


.footer_card_top{
    display: flex;
    justify-content: space-between;
}

.footer_card_title{
    font-weight: 400;
    font-size: 18px;
}

.footer_card_balance{
    font-weight: 600;
    font-size: 28px;
}

.footer_card_right{
    font-family: Raleway;
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
}

.footer_card_number{
    width: 85%;
    margin-top: 30px;
    font-weight: 600;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
}

.footer_card_name{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

/* Card design*/

/* Last payments */

.footer_right_ul{
    list-style: none;
    padding: 0;
}

.footer_cart{
    width: 60px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_right_li{
    margin-top: 40px;
    display: flex;
    align-items: center;
}



.footer_right_down{
    padding: 0 10px;
    height: 30%;
    overflow: hidden;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    display: none;
}


.footer_last_payments{
    margin-top: 50px;
    font-family: Raleway;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
}

.footer_right_top{
    font-family: Raleway;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_right_time{
    font-family: Raleway;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}

.footer_right_li_right{
    width: 100%;
    margin-left: 15px;
}

.main_content_container{
    /*background-color: #f6f7ff;*/
    height: 92%;
    border-radius: 25px;
    padding: 10px;
    overflow: scroll;
}





/* Last payments */




.row{
    /*justify-content: space-around;*/
    gap: 10px;
}

div.card {
    width: 18rem;
    margin: 15px 0 0 20px;
    display: inline-block;
}

span.label{
    font-size: 13px;

}

li.list-group-item.card-row{
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}