.chart--container {
  height: 100%;
  width: 100%;
  min-height: 150px;
}

.zc-ref {
  display: none;
}

/*#myChart{*/
/*  width: 300px;*/
/*  height: 20px;*/
/*}*/

.donut-categories-diagram{
  /*width: 30rem;*/
  width: 50%;
  /*height: 20rem;*/
  margin-top: 2rem;
}

.bar-diagram{
  /*width: 110rem;*/
  /*height: 32rem;*/
}

.bar-categories-diagram{
  margin-top: 3rem;
  /*width: 60rem;*/
  /*height: 30rem;*/
}

.bar_title{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
}

.barChoosingDate{
  display: flex;
  justify-content: space-between;
}

#barChoosingDateId{
  width: 6rem;
  /*height: 3rem;*/

}
