{% extends 'kursach/base.html' %}
{% load filter_for_date %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'kursach/css/transactions_list.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/js/vanillajs-datepicker/dist/css/datepicker.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <input type="hidden" id="userId" value={{user_id}}>

        {# Вывод диаграмм #}

        <div class="diagram_container hidden" id="chart_div">

        </div>

        {# Вывод диаграмм #}

        {# Вывод транзакций #}
        <div class="row-col">

        </div>
        {# Вывод транзакций #}

        <div class="for-items">
            <div class="row">

            </div>
        </div>

        {#  Форма для добавления транзакции #}
                <form novalidate method="POST" class="hidden" id="add-transaction">
                    {% csrf_token %}
                        <div class="form-container">
                            <label class="transLabel" for="name-trans" >
                                <span>Имя транзакции</span>
                                <input type="text" id="name-trans" class="form-control" autocomplete="off" required>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="transLabel" for="username">
                                <span>Кто добавил</span>
                                <input type="text" id="username" class="form-control" required>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="transLabel" for="type_id">
                                <span>Тип</span>
                                <select name="type_id" id="type_id" class="form-control" required></select>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="transLabel" for="category_id">
                                <span>Категория</span>
                                <select name="category_id" id="category_id" class="form-control" required></select>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="transLabel" for="sum">
                                <span>Сумма</span>
                                <input type="number" class="form-control" id="sum" autocomplete="off" required>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="transLabel" for="date">
                                <span>Дата</span>
                                <input type="text" id="date" autocomplete="off" class="form-control" required>
                                <span class="error dateerr" aria-live="polite"></span>
                            </label>
                             <button class="floating-button">Отправить</button>
                        </div>

                </form>
        {#  Форма для добавления транзакции #}

        {#  Форма для добавления категорий #}
        <form novalidate method="POST" class="hidden" id="add-category-form">
            {% csrf_token %}
                <div class="category_form_container">
                            <label class="category_label" for="name_category">
                                <span>Имя категории</span>
                                <input type="text" id="name_category" class="form-control" autocomplete="off" required>
                                <span class="error" aria-live="polite"></span>
                            </label>
                            <label class="category_label" for="type_id_category">
                                <span>Тип</span>
                                <select name="type_id" id="type_id_category" class="form-control" required></select>
                                <span class="error" aria-live="polite"></span>
                            </label>
                    <button class="floating-button">Отправить</button>
                </div>
        </form>
        {#  Форма для добавления категорий #}


        {#  Форма для добавления чеков #}

        <form novalidate method="POST" class="add-new-check-form hidden" id="add-new-check-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="check-form-container">
                <label class="check_label" for="checkImage">
                    <span>Чек</span>
                    <input type="file" id="check_image"  class="form-control" required>
                    <span class="error" aria-live="polite"></span>
                </label>
                <label class="check_label" for="check_username">
                    <span>Кто добавил</span>
                    <input type="text" id="check_username" class="form-control" autocomplete="off" required>
                    <span class="error" aria-live="polite"></span>
                </label>
                <label class="check_label" for="check_category_id">
                    <span>Тип</span>
                    <select name="category_id" id="check_category_id" class="form-control" required></select>
                    <span class="error" aria-live="polite"></span>
                </label>
                <button class="floating-button">Отправить</button>
            </div>
        </form>

        {#  Форма для добавления чеков #}

        {# Боковая панель в категории#}
        <aside class="hidden" id="aside-trans">
            <div class="upper">
                <i class="fa fa-reply hidden"  id="returnButtonFromCategory" aria-hidden="true"></i>
                <span id="category-name"></span>
            </div>
            <div id="foo">
              <input class="date-picker-range form-control" type="text" name="start" id="start">
              <span id="do">До</span>
              <input class="date-picker-range form-control" type="text" name="end" id="end">
            </div>
            <button id="submitFilter" class="floating-button">Применить</button>
            <button class="floating-button" id="add-new-transaction">Добавить</button>
            <button class="floating-button" id="add-new-check">Скан чека</button>
        </aside>
        {# Боковая панель в категории #}

        {# Боковая панель в просмотре всех категорий #}
        <aside id="aside-categories">
            <i class="fa fa-reply" aria-hidden="true" id="aside-categories-return"></i>
            <button class="floating-button" id="add-category-btn">Добавить</button>
        </aside>
        {# Боковая панель в просмотре всех категорий #}

    </div>





    <script type="module" src="{% static 'kursach/js/list_of_trans.js' %}"></script>
    <script src="https://kit.fontawesome.com/b726250d77.js" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'kursach/js/add_transaction.js' %}"></script>
    <script type="module" src="{% static 'kursach/js/forms_validations.js' %}"></script>
    <script type="module" src="{% static 'kursach/js/add_category.js' %}"></script>
    <script type="module" src="{% static 'kursach/js/alerts.js' %}"></script>
    <script type="module" src="{% static 'kursach/js/add_check.js' %}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="{% static 'kursach/js/diagram.js' %}"></script>
{% endblock  %}