{% extends 'kursach/base.html' %}
{% load filter_for_date %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'kursach/css/transactions_list.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/js/vanillajs-datepicker/dist/css/datepicker.css' %}">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <button class="floating-button" id="add-transaction-btn">Добавить</button>
        <input type="hidden" id="userId" value={{user_id}}>
        <div class="row-col">

        </div>
        {#  Форма для добавления транзакции #}
        <div class="row">
            <div class="form-div">
                <form method="POST" class="hidden" id="add-transaction">
                    {% csrf_token %}
                        <div class="form-container">
                            <div class="form-item">
                                <label class="" for="">Имя транзакции</label>
                                <input required type="text" class="form-control" id="name-trans">
                            </div>
                            <div class="form-item">
                                <label class="" for="">Кто добавил</label>
                                <input required type="text" class="form-control" id="username">
                            </div>
                            <div class="form-item">
                                <label class="" for="">Категория</label>
                                <select required name="category_id" id="category_id" class="form-control"><option disabled>Выберите тип</option></select>
                            </div>
                            <div class="form-item">
                                <label class="" for="">Тип</label>
                                <select required name="type_id" id="type_id" class="form-control"></select>
                            </div>
                            <div class="form-item">
                                <label class="" for="">Сумма</label>
                                <input required type="number" class="form-control" id="sum">
                            </div>
                            <div class="form-item" >
                                <label class="" for="">Дата</label>
                                <input required type="text" id="date" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <button class="floating-button" type="submit" id="form-submit">Отправить</button>
                    </form>
                </div>
        </div>
        <aside class="hidden" id="aside-trans">
            <i class="fa fa-reply hidden" aria-hidden="true"></i>
            <span id="category-name"></span>
            <div id="foo">
              <input class="date-picker-range form-control" type="text" name="start" id="start">
              <span id="do">До</span>
              <input class="date-picker-range form-control" type="text" name="end" id="end">
            </div>
            <button id="submitFilter" class="floating-button">Применить</button>
            <button class="add-new-transaction floating-button">Добавить</button>
        </aside>
{#    <input type="text" name="date" class="form-control datepicker-input" id="foo" autocomplete="off" required="">#}
    </div>
    <script type="module" src="{% static 'kursach/js/list_of_trans.js' %}"></script>
    <script src="https://kit.fontawesome.com/b726250d77.js" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'kursach/js/add_transaction.js' %}"></script>
{% endblock  %}