{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">


    <link rel="stylesheet" href="{% static 'kursach/css/erros.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/alerts.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/categories_cards.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/container_for_editing.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/forms/categoryForm.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/forms/transactionForm.css' %}">
     <link rel="stylesheet" href="{% static 'kursach/js/vanillajs-datepicker/dist/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/new_design_news.css' %}">

    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/new_design_diagrams.css' %}">

    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/new_design.css' %}">


    <link rel="stylesheet" href="{% static 'kursach/css/newdesign/adaptive.css' %}">


    <title>{% block title %}Money Tracker{% endblock %}</title>


    {% block head %}
    {% endblock %}
</head>
<body>
        <input type="hidden" id="categoryName">
        {% if user.is_authenticated %}
            <input type="hidden" id="userId" value={{user.id}}>
            <input type="hidden" id="billId" value={{balance.id}}>
        {% endif %}
        <div class="preloader">
          <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
          </div>
        </div>
        <div class="containe">
            <div class="aside">
                <div class="aside_header">
                    <div class="aside_logo">
                        <img src="{% static 'images/logo.png' %}" alt="logo" class="aside_logo">
                        <div class="aside_header_title">Tracker</div>
                    </div>

                <nav class="aside_nav">
                    <ul class="aside_ul">
                        <li class="aside_li " id="nav_main">
                            <i class="bi bi-border-all"></i>
{#                            <img src="{% static 'images/logo.png' %}" alt="aside_icon" class="aside_icon">#}
                            <div class="aside_text">Главная</div>
                        </li>
                        <li class="aside_li" id="nav_news">
                            <i class="bi bi-newspaper"></i>
{#                            <img src="{% static 'images/logo.png' %}" alt="aside_icon" class="aside_icon">#}
                            <div class="aside_text">Новости</div>
                        </li>
                        <li class="aside_li" id="nav_transactions">
                            <i class="bi bi-cash-coin"></i>
{#                            <img src="{% static 'images/logo.png' %}" alt="aside_icon" class="aside_icon">#}
                            <div class="aside_text">Транзакции</div>
                        </li>
                        <li class="aside_li" id="nav_diagrams">
                            <i class="bi bi-bar-chart"></i>
{#                            <img src="{% static 'images/logo.png' %}" alt="aside_icon" class="aside_icon">#}
                            <div class="aside_text">Графики</div>
                        </li>
                    </ul>
                </nav>
                </div>
                <div class="aside_footer">
                    {% if user.is_authenticated %}
                            <span class="navbar-text auth_text auth-exiting"><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-left" id="exit-arrow"></i>Выход</a></span>
                          {% else %}
                          <span class="navbar-text auth_text"><a href="{% url 'register' %}">Регистрация</a> <span>|</span> <a href="{% url 'login' %}">Авторизация</a></span>
                    {% endif %}
                </div>
            </div>

            <div class="right_container">
                <div class="right_container_left">
                    {% if user.is_authenticated %}
                        <div class="right_container_header">
                            <div class="header_title">Траты</div>
                            <div class="header_search">
                                <input type="text" class="header_input" placeholder="Поиск..">
                                <img src="{% static 'images/search.png' %}" alt="search_icon" class="header_search_icon">
                            </div>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        {% block auth %}
                        {% endblock %}
                    {% endif %}

{#                    <canvas id="myChart" width="10" height="10"></canvas>#}
                    <div class="main_content_container">


{#                            <div class="footer_stats" id="footer_income">9000</div>#}
{#                            <div class="footer_stats" id="footer_expense">9000</div>#}
{#                            <div class="footer_stats" id="footer_income"></div>#}
{#                        </div>#}
{#                        <div class="footer_middle" id="footer_diagram">#}
{#                            diagram#}
                    </div>
                    <div class="footer_down"></div>
                </div>

                <div class="right_container_right">
                    <div class="right_container_right_top">
                        <div class="bell"><i class="bi bi-bell"></i></div>
                         {% if user.is_authenticated %}
                             <div class="account">
                                <div class="account_name">{{ user.first_name }}</div>
                                 <img src="{% static 'images/avatar.png' %}" alt="avatar" class="account_avatar">
                             </div>
                              {% else %}
                             <div class="account_name">Не авторизован</div>
                             <i class="bi bi-person-circle"></i>
{#                             <span class="navbar-text"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a></span>#}
                         {% endif %}
                    </div>
                    <div class="footer_title">Мой счет</div>
                        <div class="footer_card">
                            <div class="footer_card_top">
                                <div class="footer_card_left">
                                    <div class="footer_card_title">Баланс</div>
                                    <div class="footer_card_balance">{{ balance.sum }}</div>
                                </div>
                                <div class="footer_card_right">
                                    VISA
                                </div>
                            </div>
                            <div class="footer_card_number">
                                <div class="card_numbers">****</div>
                                <div class="card_numbers">****</div>
                                <div class="card_numbers">****</div>
                                <div class="card_numbers">****</div>
                            </div>
                            <div class="footer_card_name">{{ user.first_name }} {{ user.last_name }}</div>
                        </div>
                        <div class="footer_last_payments">Последние операции</div>
                        <div class="footer_right_down">
                            <ul class="footer_right_ul">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>


<script>
  window.addEventListener('load', (event) => {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  })


</script>
        <script type="module" src="{% static 'kursach/js/requests.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/custom_format_for_date.js' %}"></script>


        <script type="module" src="{% static 'kursach/js/newdesign_show_transactions.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/new_design_base.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/newdesign_show_categories.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/new_design_news.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/container_for_editing.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/new_design_add_transaction.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/new_design_diagrams.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/chart.js/dist/chart.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/chart.js/dist/chart.umd.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/search.js' %}"></script>
        <script type="module" src="{% static 'kursach/js/new_design_not_ended.js' %}"></script>

</body>
</html>