{#{% extends 'kursach/base.html' %}#}
{% extends 'kursach/new_design/new_design_base.html' %}
{% load crispy_forms_tags %}
{% block auth %}
    <div  class="container">
        <div  class="row justify-content-center">
{#            <div class="card">#}
                <div  class="col-4">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {{ form|crispy }}
{#                                {{ form }}#}
                            <button type="submit" class="btn btn-primary btn-block">Войти</button>
                        </form>
                    </div>
{#              </div>#}
            </div>
          </div>
    </div>
{% endblock %}